<style type='text/css'>
.half {
  float: left;
  width: 50%;
}
</style>

<h1><%= @game.player_1.name %> Vs. <%= @game.player_2.name %></h1>

<div class='half'>
  <%= @game.player_1.name %>: <%= @game.player_1.hit_points %> HP
  <form action='/attack_form' method='post'>
    <input type='hidden' name='attacking' value='player_2'>
    <input type='submit' value='Attack Player 2'>
  </form>
</div>


<%= @game.player_2.name %>: <%= @game.player_2.hit_points %> HP

<form action='/attack_form' method='post'>
  <input type='hidden' name='attacking' value='player_1'>
  <input type='submit' value='Attack Player 1'>
</form>
